In [1]:
from doepy import build

In [44]:
build.full_fact(conds)

    Period  Brazilian State  Rate  Group 1  Group 2
0      3.0              0.0   6.9      1.0      1.0
1     12.0              0.0   6.9      1.0      1.0
2      3.0              5.0   6.9      1.0      1.0
3     12.0              5.0   6.9      1.0      1.0
4      3.0              0.0  18.9      1.0      1.0
5     12.0              0.0  18.9      1.0      1.0
6      3.0              5.0  18.9      1.0      1.0
7     12.0              5.0  18.9      1.0      1.0
8      3.0              0.0   6.9     10.0      1.0
9     12.0              0.0   6.9     10.0      1.0
10     3.0              5.0   6.9     10.0      1.0
11    12.0              5.0   6.9     10.0      1.0
12     3.0              0.0  18.9     10.0      1.0
13    12.0              0.0  18.9     10.0      1.0
14     3.0              5.0  18.9     10.0      1.0
15    12.0              5.0  18.9     10.0      1.0
16     3.0              0.0   6.9      1.0      4.0
17    12.0              0.0   6.9      1.0      4.0
18     3.0              5.0   6.9      1.0      4.0
19    12.0              5.0   6.9      1.0      4.0
20     3.0              0.0  18.9      1.0      4.0
21    12.0              0.0  18.9      1.0      4.0
22     3.0              5.0  18.9      1.0      4.0
23    12.0              5.0  18.9      1.0      4.0
24     3.0              0.0   6.9     10.0      4.0
25    12.0              0.0   6.9     10.0      4.0
26     3.0              5.0   6.9     10.0      4.0
27    12.0              5.0   6.9     10.0      4.0
28     3.0              0.0  18.9     10.0      4.0
29    12.0              0.0  18.9     10.0      4.0
30     3.0              5.0  18.9     10.0      4.0
31    12.0              5.0  18.9     10.0      4.0

In [2]:
build.space_filling_lhs(
{'Pressure':[40,55,70],
'Temperature':[290, 320, 350],
'Flow rate':[0.2,0.4],
'Time':[5,11]},
num_samples = 12
)

Pressure had more than two levels. Assigning the end point to the high level.
Temperature had more than two levels. Assigning the end point to the high level.

     Pressure  Temperature  Flow rate       Time
0   45.454545   311.818182   0.254545   5.000000
1   70.000000   295.454545   0.272727   5.545455
2   64.545455   322.727273   0.218182   9.909091
3   56.363636   339.090909   0.363636   8.272727
4   48.181818   300.909091   0.400000   6.090909
5   59.090909   344.545455   0.381818   9.363636
6   50.909091   350.000000   0.200000   8.818182
7   67.272727   317.272727   0.327273   7.727273
8   40.000000   333.636364   0.236364   7.181818
9   53.636364   306.363636   0.309091  11.000000
10  42.727273   290.000000   0.290909   6.636364
11  61.818182   328.181818   0.345455  10.454545

In [3]:
build.space_filling_lhs(
{'Pressure':[40,55,70],
'Temperature':[290, 320, 350],
'Flow rate':[0.2,0.4],
'Time':[5,11]},
num_samples = 5
)

Pressure had more than two levels. Assigning the end point to the high level.
Temperature had more than two levels. Assigning the end point to the high level.

   Pressure  Temperature  Flow rate  Time
0      55.0        305.0       0.30  11.0
1      40.0        335.0       0.35   9.5
2      62.5        350.0       0.40   5.0
3      70.0        290.0       0.25   8.0
4      47.5        320.0       0.20   6.5

In [12]:
import numpy as np
np.linspace(6.9, 18.9, 10)

array([ 6.9       ,  8.23333333,  9.56666667, 10.9       , 12.23333333,
       13.56666667, 14.9       , 16.23333333, 17.56666667, 18.9       ])

['3', '4', '5', '6', '7', '8', '9', '10', '11', '12']

In [42]:
conds  = {'Period':list(map(str, [3,4,5,6,7,8,9,10,11,12])),
'Brazilian State': [0,1,2,3,4,5],
'Rate':np.linspace(6.9, 18.9, 10), 
'Group 1':np.linspace(1,10,9),
'Group 2':np.linspace(1,4,3)}
build.plackett_burman(conds)

Period had more than two levels. Assigning the end point to the high level.
Brazilian State had more than two levels. Assigning the end point to the high level.
Rate had more than two levels. Assigning the end point to the high level.
Group 1 had more than two levels. Assigning the end point to the high level.
Group 2 had more than two levels. Assigning the end point to the high level.

   Period  Brazilian State  Rate  Group 1  Group 2
0     3.0              0.0  18.9      1.0      4.0
1    12.0              0.0   6.9      1.0      1.0
2     3.0              5.0   6.9      1.0      4.0
3    12.0              5.0  18.9      1.0      1.0
4     3.0              0.0  18.9     10.0      1.0
5    12.0              0.0   6.9     10.0      4.0
6     3.0              5.0   6.9     10.0      1.0
7    12.0              5.0  18.9     10.0      4.0

In [43]:
build.plackett_burman(max_min)

   Period  Rate  Group 1  Group 2
0     0.0   6.9     10.0      1.0
1    12.0   6.9      1.0      1.0
2     0.0  18.9      1.0      1.0
3    12.0  18.9     10.0      1.0
4     0.0   6.9     10.0      4.0
5    12.0   6.9      1.0      4.0
6     0.0  18.9      1.0      4.0
7    12.0  18.9     10.0      4.0

In [28]:
max_min = {'Period':[0,12],
'Rate': [6.9, 18.9],
'Group 1':[1,10],
'Group 2':[1,4]}

In [33]:
build.space_filling_lhs(
{'Period':list(map(str, [3,4,5,6,7,8,9,10,11,12])),
'Rate':np.linspace(6.9, 18.9, 10),
'Group 1':np.linspace(1,10,9),
'Group 2':np.linspace(1,4,3)},
num_samples = 50
)

Period had more than two levels. Assigning the end point to the high level.
Rate had more than two levels. Assigning the end point to the high level.
Group 1 had more than two levels. Assigning the end point to the high level.
Group 2 had more than two levels. Assigning the end point to the high level.

TypeError: unsupported operand type(s) for -: 'numpy.str_' and 'numpy.str_'

In [21]:
?build.plackett_burman

Signature: build.plackett_burman(d)
Docstring:
Builds a Plackett-Burman dataframe from a dictionary of factor/level ranges.
Only min and max values of the range are required.
Example of the dictionary which is needed as the input:
{'Pressure':[50,70],'Temperature':[290, 350],'Flow rate':[0.9,1.0]}

    Plackett–Burman designs are experimental designs presented in 1946 by Robin L. Plackett and J. P. Burman while working in the British Ministry of Supply.(Their goal was to find experimental designs for investigating the dependence of some measured quantity on a number of independent variables (factors), each taking L levels, in such a way as to minimize the variance of the estimates of these dependencies using a limited number of experiments.

Interactions between the factors were considered negligible. The solution to this problem is to find an experimental design where each combination of levels for any pair of factors appears the same number of times, throughout all the experimental runs (refer to table).
    A complete factorial design would satisfy this criterion, but the idea was to find smaller designs.

    These designs are unique in that the number of trial conditions (rows) expands by multiples of four (e.g. 4, 8, 12, etc.).
    The max number of columns allowed before a design increases the number of rows is always one less than the next higher multiple of four.
File:      ~/penvs/experimental_design/lib/python3.8/site-packages/doepy/build.py
Type:      function

Period had more than two levels. Assigning the end point to the high level.
Rate had more than two levels. Assigning the end point to the high level.
Brazilian State had more than two levels. Assigning the end point to the high level.
Group 1 had more than two levels. Assigning the end point to the high level.
Group 2 had more than two levels. Assigning the end point to the high level.

   Period  Rate  Brazilian State  Group 1  Group 2
0     3.0   6.9              1.0      1.0      4.0
1    12.0   6.9              0.0      1.0      1.0
2     3.0  18.9              0.0      1.0      4.0
3    12.0  18.9              1.0      1.0      1.0
4     3.0   6.9              1.0     10.0      1.0
5    12.0   6.9              0.0     10.0      4.0
6     3.0  18.9              0.0     10.0      1.0
7    12.0  18.9              1.0     10.0      4.0

In [25]:
?build.sukharev

Signature: build.sukharev(d, num_samples=None)
Docstring:
Builds a Sukharev-grid hypercube design dataframe from a dictionary of factor/level ranges.
Number of samples raised to the power of (1/dimension), where dimension is the number of variables, must be an integer.
Only min and max values of the range are required.
Example of the dictionary which is needed as the input:
{'Pressure':[50,70],'Temperature':[290, 350],'Flow rate':[0.9,1.0]}
num_samples: Number of samples to be generated

    Special property of this grid is that points are not placed on the boundaries of the hypercube, but at centroids of the  subcells constituted by individual samples.
    This design offers optimal results for the covering radius regarding distances based on the max-norm.
File:      ~/penvs/experimental_design/lib/python3.8/site-packages/doepy/build.py
Type:      function

In [30]:
build.sukharev(max_min, num_samples=25)

Number of samples not adequate to fill a Sukharev grid. Increasing sample size to:  81

    Period  Rate  Group 1  Group 2
0      2.0   8.9      2.5      1.5
1      2.0   8.9      2.5      2.5
2      2.0   8.9      2.5      3.5
3      2.0   8.9      5.5      1.5
4      2.0   8.9      5.5      2.5
..     ...   ...      ...      ...
76    10.0  16.9      5.5      2.5
77    10.0  16.9      5.5      3.5
78    10.0  16.9      8.5      1.5
79    10.0  16.9      8.5      2.5
80    10.0  16.9      8.5      3.5

[81 rows x 4 columns]